//seletores: propriedades: valores
header {
  background-color: red;
}
img {
  width: 300px;
}
h2 {
  background-color: burlywood;
}
* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}
.card {
     background-color: dimgray;
}
